<h1>Rewards</h1>
{{#link-to "dashboard.parent.rewards.new"}}New Reward{{/link-to}}

<table>
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Name</th>
      <th>Description</th>
      <th>Points</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |reward|}}
      <tr>
        <td>{{reward.avatar}}</td>
        <td>{{reward.name}}</td>
        <td>{{reward.description}}</td>
        <td>{{reward.points}}</td>
        <td>
          {{!-- {{#link-to "dashboard.parent.reward.assign" reward.id}}
          Assign
          {{/link-to}} --}}
          {{#link-to "dashboard.parent.rewards.edit" reward.id}}
          <span class="fa fa-pencil"></span>
          {{/link-to}}
        </td>
        <td>
          <button class="button" {{action delete reward}}>
            <span class="fa fa-trash"></span>
          </button>
        </td>
      </tr>

    {{/each}}
  </tbody>
</table>
