<div class="boss-container">
  <div class="child-info">
    {{#simple-form class="" onsubmit=(action createNewChild) as |formValues|}}
      <p class="form-inputs">
        <label class="input-label">Username:</label>
        {{input class="input-field" type="text" placeholder="Username" value=formValues.username}}
      </p>

      <p class="form-inputs">
        <label class="input-label">Password:</label>
        {{input class="input-field" type="password" placeholder="Password" value=formValues.password}}
      </p>

      <p class="form-inputs">
        <label class="input-label">Point-Total:</label>
        {{input class="input-field" type="number" placeholder="Point-Total" value=formValues.pointTotal}}
      </p>

      <p class="form-inputs">
        <label class="input-label">Avatar:</label>
        {{input class="input-field" type="text" placeholder="Avatar" value=formValues.avatar}}
      </p>
    {{#link-to "dashboard.parent"}}
    <button>Submit</button>
    {{/link-to}}
    {{/simple-form}}
{{!--
    <div>
      {{#each model as |child|}}
      <ul><h3>Kidz</h3>
        <li>{{child.avatar}}</li>
        <li>{{child.username}}</li>
        <li>{{child.pointTotal}}</li>
      </ul>
      {{/each}}
    </div> --}}


  </div>
</div>


{{outlet}}
