<div class="child-list">
  <ul>
    {{#each model as |child|}}
    <li class="child-item">{{child.username}}</li>
    <li class="child-item">{{child.password}}</li>
    {{/each}}
    {{outlet}}
  </ul>
</div>

<h2>Add New Child</h2>
{{#link-to "dashboard.parent.newChild"}}Add Child{{/link-to}}

<table>
  <thead>
    <tr>
      <th>User Name</th>
      <th>Password</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |child|}}
      <tr>
        <td>{{child.userName}}</td>
        <td>{{chore.password}}</td>

        <td>
          {{#link-to "dashboard.parent.newChild.edit" child.id}}
          <span class="fa fa-pencil"></span>
          {{/link-to}}
        </td>
        <td>
          <button class="button" {{action delete chore}}>
            <span class="fa fa-trash"></span>
          </button>
        </td>
      </tr>

    {{/each}}
  </tbody>
</table>
