<div class="dashboard-container">
  <div class="dashboard-container_items">
    <h2 class="dashboard-text dashboard-item">Child Dashboard</h2>
  </div>
  {{#link-to "logout"}}
  <button>logout</button>
  {{/link-to}}
</div>

<div class="content-container">
  <div class="sidebar">
    <div class="sidebar-content">
        <h2>{{model.username}}</h2>

        <h2>{{model.pointTotal}}</h2>

{{outlet}}

<ul>
  {{#each model.assignments as |a|}}
    <li>
      {{a.chore.name}}
    </li>
  {{/each}}
</ul>

<ul>
  {{#each model.assignments as |a|}}
    <li>
      {{a.chore.name}}
    </li>
  {{/each}}
</ul>



{{#link-to "dashboard.child.assignment"}}
<button>Chores</button>
{{/link-to}}
{{#link-to "dashboard.child.store"}}
<button>Rewards</button>
{{/link-to}}
    {{!-- <ul>
      {{#each model as |chore|}}
      <li class="chore-item">{{chore.name}}</li>
      {{/each}}
    </ul>
  </div>
  </div>
   <div class="">
     {{#link-to "dashboard.child.assignment"}}
       <button>Chorez</button>
     {{/link-to}}
   </div>
   <div class="">
     {{#link-to "dashboard.child.purchase"}}
     <button>Rewards</button>
     {{/link-to}}
   </div> --}}
   </div>
 </div>
</div>
