<div class="dashboard-container">
  <div class="dashboard-container_items">
    <h2 class="dashboard-text dashboard-item">Dashboard</h2>
  </div>
</div>

<div class="content-container">
  <div class="sidebar">
    <div class="sidebar-content">
      {{#each model as |child|}}
        <h2>{{child.avatar}}</h2>
        <h2>{{child.username}}</h2>
          <img src="https://s-media-cache-ak0.pinimg.com/236x/03/59/5a/03595aaef122cf3f28cad0f307060493.jpg" alt="">
        <h2>{{child.pointTotal}}</h2>
      {{/each}}
{{outlet}}
    {{!-- <ul>
      {{#each model as |chore|}}
      <li class="chore-item">{{chore.name}}</li>
      {{/each}}
    </ul>
  </div>
  </div>
   <div class="">
     {{#link-to "dashboard.child.assignment"}}
       <button>Chorez</button>
     {{/link-to}}
   </div>
   <div class="">
     {{#link-to "dashboard.child.purchase"}}
     <button>Rewards</button>
     {{/link-to}}
   </div> --}}
   </div>
 </div>
</div>
