<h5>Hello {{model.username}}, this is what you have to do</h5>

<ul>
  {{#each model.assignments as |assignment|}}
    <li>

      <td>{{assignment.chore.name}}</td>
      <li class="assignment-item">{{a.assignment.name}}</li>
      <td>{{assignment.chore.description}}</td>
      <li class="assignment-item">{{a.assignment.description}}</li>

      <td>
        {{#if assignment.done}}
        <i class="medium material-icons">thumb_up</i>
        {{else}}
        <button class="waves-effect waves-light btn" {{action isComplete assignment preventDefault=false}}>Complete</button>
        {{/if}}
      </td>

    </li>
  {{/each}}
</ul>
