<h5>Hello {{model.username}}, this is what you have to do</h5>

<ul>
  {{#each model.assignments as |assignment|}}
    <li>
      {{assignment.chore.name}}
      <li class="assignment-item">{{assignment.name}}</li>
      {{assignment.chore.description}}
      <li class="assignment-item">{{assignment.description}}</li>
      <td>
        {{#if assignment.done}}
        <i class="medium material-icons">thumb_up</i>
        {{else}}
        <button class="waves-effect waves-light btn" {{action isComplete assignment preventDefault=false}}>Complete</button>
        {{/if}}
      </td>

    </li>
  {{/each}}
</ul>
