Rewards Page - Pick your item below

<ul>
  {{#each model.assignments as |a|}}
    <li>
      {{a.id}} - {{a.chore.name}} - {{a.done}} - {{a.date}} - {{a.approved}}
      {{!-- <li class="assignment-item" >{{assignments.name}}</li> --}}
      <td>
      <button class="waves-effect waves-light btn " {{action isComplete a preventDefault=false}}>Complete</button>
    </td>

    </li>
  {{/each}}
</ul>
