<h5>Pick your Prize below!</h5>
<h5>Rewards Store</h5>

<table>
  <thead>
    <tr>
    <th>Reward</th>
    <th>Points</th>
    <th>Description</th>
    {{!-- <th>Quantity</th> --}}
    <th>Select</th>
  </tr>
</thead>
<tbody>
  {{#each model as |reward|}}
    <tr>
      <td>{{reward.name}}</td>
      <td>{{reward.points}}</td>
      <td>{{reward.description}}</td>
      {{!-- <td>{{input}}</td> --}}
      <td>
        <button class="waves-effect waves-light btn" {{action buyReward reward}}>Buy</button>
      </td>
    </tr>
  {{/each}}
</tbody>
</table>
