<h1>New Chorez</h1>

{{#simple-form onsubmit=(action newChore) as |formValues|}}
  {{input placeholder="name" value=formValues.name}}
  {{input placeholder="description" value=formValues.description}}
  {{input placeholder="avatar" value=formValues.avatar}}
  {{input placeholder="points" value=formValues.points}}
  {{input placeholder="date" value=formValues.date}}
  <p>
    {{#link-to "dashboard.parent.new-chore"}}Cancel{{/link-to}}
    <button>SAVE</button>
  </p>

{{/simple-form}}


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Avatar</th>
      <th>Points</th>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    {{#each model as |chore|}}
      <tr>
        <td>{{chore.name}}</td>
        <td>{{chore.description}}</td>
        <td>{{chore.avatar}}</td>
        <td>{{chore.points}}</td>
        <td>{{chore.date}}</td>
        <td>
          <button class="button" {{action delete chore}}>
            <span class="fa fa-trash"></span>
          </button>
        </td>
      </tr>

    {{/each}}
  </tbody>
</table>
