<h1>Edit Chores</h1>

{{#simple-form startingValues=model onsubmit=(action saveEdit model) as |formValues|}}
  {{input placeholder="Name" value=formValues.name}}
  {{input placeholder="Description" value=formValues.description}}
  {{input placeholder="Avatar" value=formValues.avatar}}
  {{input placeholder="Points" value=formValues.points}}
  {{input placeholder="Date" value=formValues.date}}
  <p>
    {{#link-to "dashboard.parent.chores.index"}}Cancel{{/link-to}}
    <button class="waves-effect waves-light btn">Save</button>
  </p>

{{/simple-form}}
