<div class="chore-container">
  <div class="chore-info">
    {{#simple-form class="" onsubmit=(action createNewChore) as |formValues|}}
    <p class="form-inputs">
      <label class="input-label">Chore Name:</label>
        {{input class="input-field" type="text" placeholder="Chore Name" value=formValues.name}}
    </p>

    <p class="form-inputs">
      <label class="input-label">Description:</label>
        {{input class="input-field" type="text" placeholder="Description" value=formValues.description}}
    </p>

    <p class="form-inputs">
      <label class="input-label">Avatar:</label>
        {{input class="input-field" type="text" placeholder="Avatar" value=formValues.avatar}}
    </p>

    <p class="form-inputs">
      <label class="input-label">Points:</label>
        {{input class="input-field" type="number" placeholder="Points" value=formValues.points}}
    </p>

    <p class="form-inputs">
      <label class="input-label">Date:</label>
        {{input class="input-field" type="date" placeholder="Date" value=formValues.date}}
    </p>
    <button>Submit</button>
    {{/simple-form}}

  </div>
